@font-face {
  font-family: 'Raleway';
  src:  url('./assets/fonts/Raleway-VariableFont_wght.ttf');
}

#today-forecast-container {
  background-color: #1E213A;
}

#weather-forecast-container {
  background-color: #100E1D;
}

.weekday-forecast-container {
  font-family: Raleway, sans-serif; 
  background: #1E213A;
  padding: 0.9rem 0;
}

.weekday-forecast-container .forecast-title{
  color:white;
  margin:0;
}

.weekday-forecast-container .forecast-icon {
  max-width: 40%;
  text-align: center;
  display: inline-block;
}

.weekday-forecast-container .max-temp {
  color: #E7E7EB;
}

.weekday-forecast-container .min-temp {
  color: #A09FB1;
}
.today-highligh-container {
  background: #1E213A;
}

.today-highlight-title {
  color: #E7E7EB;
}